name: CI training Irwan Asikin

on: 
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Install podman
      run: sudo apt-get update && sudo apt-get install -y podman

    - name: Build Container image
      run: |
        podman build -f Containerfile -t myapp:latest . 
      
