name: Irwan Asikn CI Training

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
          podman login ghcr.io \
            -u ${{ github.actor }} \
            --password-stdin

      - name: Build image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}/myapp:latest
          podman build -f Containerfile -t $IMAGE .

      - name: Push image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}/myapp:latest
          podman push $IMAGE
